# X/XMonad/GNOME
.bash*
!.bashrc
!.bash_profile
!.bash_completion_git
.mysql_history
.ssh
# OSX STUFF
Applications/*
Desktop/*
Documents/*
Downloads/*
Library/*
Movies/*
Music/*
Pictures/*
Public/*
# HOME DIRECTORY
archive/*
src/*
tmp/*
*~
